[submodule ".zsh_custom/plugins/zsh-autosuggestions"]
	path = .zsh_custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule ".zsh_custom/plugins/zsh-syntax-highlighting"]
	path = .zsh_custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule ".vim/bundle/AutoClose"]
	path = .vim/bundle/AutoClose
	url = https://github.com/vim-scripts/AutoClose
[submodule ".vim/bundle/ctrlp.vim"]
	path = .vim/bundle/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim
[submodule ".vim/bundle/indentline"]
	path = .vim/bundle/indentline
	url = https://github.com/yggdroot/indentline
[submodule ".vim/bundle/nerdcommenter"]
	path = .vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule ".vim/bundle/nerdtree-git-plugin"]
	path = .vim/bundle/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin
[submodule ".vim/bundle/vim-airline"]
	path = .vim/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive/
[submodule ".vim/bundle/vim-gitgutter"]
	path = .vim/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule ".vim/bundle/vim-nerdtree-tabs"]
	path = .vim/bundle/vim-nerdtree-tabs
	url = https://github.com/jistr/vim-nerdtree-tabs.git
[submodule ".vim/bundle/vim-polyglot"]
	path = .vim/bundle/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot
[submodule ".vim/bundle/vim-repeat"]
	path = .vim/bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat
[submodule ".vim/bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule ".vim/bundle/youcompleteme"]
	path = .vim/bundle/youcompleteme
	url = https://github.com/valloric/youcompleteme
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = https://github.com/vim-syntastic/syntastic
[submodule ".vim/bundle/vim-devicons"]
	path = .vim/bundle/vim-devicons
	url = https://github.com/ryanoasis/vim-devicons
[submodule ".vim/bundle/vim-css-color"]
	path = .vim/bundle/vim-css-color
	url = https://github.com/ap/vim-css-color
[submodule ".zsh_custom/plugins/zsh-completions"]
	path = .zsh_custom/plugins/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule ".zsh_custom/plugins/zsh-history-substring-search"]
	path = .zsh_custom/plugins/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search.git
[submodule ".zsh_custom/themes/spaceship-prompt"]
	path = .zsh_custom/themes/spaceship-prompt
	url = https://github.com/denysdovhan/spaceship-prompt.git
